.date-badge {
  background-color: var(--dark-color);
  color: var(--white-color);
  position: absolute;
  border-radius: 0px 0px 10px 0px; /* Top-left, top-right, bottom-right, bottom-left */
  width: 60px;
}

.day {
    font-size: 30px;
    margin-top: -8px;
    font-weight: 700;
}

.month {
    font-size: 12px;
    font-weight: lighter;
}