:root {
    --dark-color: #1e1e26;
    --white-color: #ffffff;
    --light-color: #d5d6d6;
    --primary-color: #3c3b60;
    --secondary-color: #bc1175;
    --info-color: #bc1175;
    --success-color: #0b9859;
    --error-color: #ea1f04
    --border-radius: 5px;

    --padding-default: 16px
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1560px
);