<div class="card" style="width: 18rem">
    <app-date-badge [date]="event.dateFrom"></app-date-badge>
  <img
    class="card-img-top"
    src="https://politykazdrowotna.com/static/files/gallery/541/090d434854e917828ad11e48812db01d.jpg"
    alt="Card image cap"
  />
  <div class="card-body">
    <div class="card-subtitle mb-2 text-muted">TYP</div>
    <h5 class="card-title">{{event.name}}</h5>
    <p class="card-text">{{event.description}}</p>
    <div class="card-subtitle mb-4 text-muted localization">{{event.address}}</div>
  </div>
</div>